@model HospitalMVC.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
           Hospital @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>

        @if (Model.Patients.Count <= 0)
        {


            <div>
                Нема пациенти
            </div>
        }
        else
        {
            foreach (var item in Model.Patients)
            {
                <ul>
                    @Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.Age))
                    @Html.ActionLink("Details", "DetailsPatient", "Patients", new { id = item.Id }, null)


                </ul>
            }

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Insert a new patient", "InsertNewPatient", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
